<h1>Edit <%= @player.name %></h1>
<br>

<form action="/players/<%= @player.id %>" method="POST">
  <p>Name: <input type="text" name="name" value="<%= @player.name %>"></p>
  <p>Number: <input type="text" name="number" value="<%= @player.number %>"></p>
  <p>Position: <input type="text" name="position" value="<%= @player.position %>"></p>
  <p>What Team Does This Player Belong To?</p>
    <select name="team_id">
    <% Team.all.each do |t| %>
      <option value="<%= t.id %>" <%= 'selected' if t.id == @player.team_id %>><%= t.name %></option>
    <% end %>
    </select>
  <input type="submit" value="Update Player">
</form> 